.login_page {
  padding: 10% 0;
}

.login_form {
  padding: 1rem;
  max-width: 450px;
  margin: auto;
  box-shadow: 3px 4px 17px rgba(0, 0, 0, 0.4);
  border-top: solid 1px #252525;
  border-right: solid 1px #222222;
  border-bottom: solid 1px #1d1d1d;
  border-left: solid 1px #1c1c1c;
  border-radius: 5px;
}

#customer_login .register, #customer_login .login {
  padding: 0 !important;
}

#customer_login .col-1, #customer_login .col-2 {
  width: 100%;
  float: none;
}

#customer_login .col-1 {
  display: block;
}

#customer_login .col-2 {
  display: none;
}

#customer_login input[type="text"],
#customer_login input[type="email"],
#customer_login input[type="password"] {
  background: #0d0d0d !important;
  border-top: solid 1px #171717;
  border-right: solid 1px #161616;
  border-bottom: solid 1px #1f1f1f;
  border-left: solid 1px #1f1f1f;
  border-radius: 5px !important;
  padding: 16px 14px !important;
  font-size: 1.3rem  !important;
}

#customer_login.is--register .col-1 {
  display: none;
}

#customer_login.is--register .col-2 {
  display: block;
}

.login_form_select {
  display: none;
}

.login_form_select.is--active {
  display: inline;
}

.woocommerce form.checkout_coupon, .woocommerce form.login, .woocommerce form.register {
  border: 0;
}
